body{
	font-family: Arial;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

.container{
	outline-style: solid;
}

#p1{
	color: darkgreen;
}

svg{
	fill: orange;
}

#div3{
	text-align: center;
}